<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Donor's page</title>
    <style type="text/css">
        body {
            background-color: #ff5f58;
        }

        table {
            background: #012B39;
            border-radius: 0.25em;
            border-collapse: collapse;
            margin: 1em;
        }

        th {
            border-bottom: 1px solid #364043;
            color: #E2B842;
            font-size: 0.85em;
            font-weight: 600;
            padding: 0.5em 1em;
            text-align: left;
        }

        td {
            color: #fff;
            font-weight: 400;
            padding: 0.65em 1em;
        }

        .disabled td {
            color: #4F5F64;
        }

        tbody tr {
            transition: background 0.25s ease;
        }

        tbody tr:hover {
            background: #014055;
        }
    </style>
</head>
<body>
<div style="display: inline-block;border: 3px solid blue;border-radius:10px;background-color:#48cbee;float:left;margin-right:7px">
    <h2 style="margin-left: 5%">The donor details are:</h2>
    <table>
        <thead>
        <tr>
            <th>
                Detail Name
            </th>
            <th>
                Detail Information
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>First Name</td>
            <td id="ofn" th:text="${responseDonor.firstName}"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td id="oln" th:text="${responseDonor.lastName}"></td>
        </tr>
        <tr>
            <td>Blood group</td>
            <td id="bg" th:text="${responseDonor.bloodGroup}"></td>
        </tr>
        <tr>
            <td>Email ID</td>
            <td id="mail" th:text="${responseDonor.mail}"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td id="oadd" th:text="${responseDonor.address}"></td>
        </tr>
        <tr>
            <td>City</td>
            <td id="ocity" th:text="${responseDonor.city}"></td>
        </tr>
        <tr>
            <td>Willing to donate</td>
            <td th:if="${responseDonor.willing}">Yes</td>
            <td th:if="${!responseDonor.willing}">No</td>
        </tr>
        </tbody>
    </table>
</div>
<div style="display: inline-block;border: 3px solid #009200;border-radius:10px;background-color:#4eee89">
    <h2 style="margin-left: 5%">Edit details</h2>
    <table>
        <thead>
        <tr>
            <th>
                Detail Name
            </th>
            <th>
                Detail Information
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>First Name</td>
            <td>
                <input id="fn" required="required" th:value="${responseDonor.firstName}" type="text">
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                <input id="ln" required="required" th:value="${responseDonor.lastName}" type="text">
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                <input id="add" required="required" th:value="${responseDonor.address}" type="text">
            </td>
        </tr>
        <tr>
            <td>City</td>
            <td>
                <input id="city" list="cities" required="required" th:value="${responseDonor.city}" type="text">
                <datalist id="cities">
                    <option value="Agartala">Agartala</option>
                    <option value="Aizawl">Aizawl</option>
                    <option value="Amaravati">Amaravati</option>
                    <option value="Amritsar">Amritsar</option>
                    <option value="Bangalore">Bangalore</option>
                    <option value="Bhubaneswar">Bhubaneswar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chennai">Chennai</option>
                    <option value="Daman">Daman</option>
                    <option value="Dehradun">Dehradun</option>
                    <option value="Delhi NCR">Delhi NCR</option>
                    <option value="Dispur">Dispur</option>
                    <option value="Gandhinagar">Gandhinagar</option>
                    <option value="Gangtok">Gangtok</option>
                    <option value="Hyderabad">Hyderabad</option>
                    <option value="Imphal">Imphal</option>
                    <option value="Indore">Indore</option>
                    <option value="Itanagar">Itanagar</option>
                    <option value="Jaipur">Jaipur</option>
                    <option value="Jammu">Jammu</option>
                    <option value="Kavaratti">Kavaratti</option>
                    <option value="Kohima">Kohima</option>
                    <option value="Kolkata">Kolkata</option>
                    <option value="Leh">Leh</option>
                    <option value="Lucknow">Lucknow</option>
                    <option value="Madurai">Madurai</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Panaji">Panaji</option>
                    <option value="Patna">Patna</option>
                    <option value="Port Blair">Port Blair</option>
                    <option value="Puducherry">Puducherry</option>
                    <option value="Raipur">Raipur</option>
                    <option value="Ranchi">Ranchi</option>
                    <option value="Shillong">Shillong</option>
                    <option value="Shimla">Shimla</option>
                    <option value="Srinagar">Srinagar</option>
                    <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Willing to donate</td>
            <td>
                <input id="will" th:checked="${responseDonor.willing}" type="checkbox">
            </td>
        </tr>
        <tr>
            <td>New password</td>
            <td>
                <input id="pw" type="password">
            </td>
        </tr>
        <tr>
            <td>Old password*</td>
            <td>
                <input id="opw" required="required" type="password">
            </td>
        </tr>

        </tbody>
    </table>
    <button onclick="edit()"
            style="padding:10px 10px 10px 10px;background-color: blue;color: white;border-radius: 10px;margin-left: 40%">
        Update
    </button>
</div>
<script th:inline="javascript">
    const jPostTableUpdate = (path, data) => {
        $.ajax({
            type: 'POST',
            url: path,
            data: JSON.stringify(data),
            success: ret => {
                alert('details updated');
                $('#ofn').text(ret['firstName']);
                $('#oln').text(ret['lastName']);
                $('#oadd').text(ret['address']);
                $('#ocity').text(ret['city']);
                $("#opw").val("");
                if (ret['willing'])
                    $('tbody')[0].rows[6].cells[1].innerHTML = 'Yes';
                else
                    $('tbody')[0].rows[6].cells[1].innerHTML = 'No'
            },
            contentType: "application/json",
            dataType: 'json'
        })
    };
    let edit = () => {
        let originalDonor = [[${responseDonor}]];
        if ($('#opw').val() !== originalDonor['password']) {
            alert('incorrect password');
            return null
        }

        if ($('#pw').val().length < 8 && $(`#pw`).val().length > 0) {
            alert('Password should be minimum 8 characters long');
            return null
        }

        originalDonor['city'] = $('#city').val();
        originalDonor['willing'] = $('#will').is(':checked');
        originalDonor['address'] = $('#add').val();
        originalDonor['firstName'] = $('#fn').val();
        originalDonor['lastName'] = $('#ln').val();
        originalDonor['password'] = $("#pw").val();

        jPostTableUpdate('/donors/edit', originalDonor);
    }
</script>
<script crossorigin="anonymous"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>