<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cannot login</title>
</head>
<body>
<div th:switch="${responseDonor.mail}">
    <div th:case="'wrong password'">
        <h1>Incorrect password entered</h1>
        <a href="/donors/">
            <button style="color: greenyellow">Go back</button>
        </a>
    </div>
    <div th:case="'wrong mail'">
        <h1>This email ID isn't registered yet</h1>
        <a href="/donors/">
            <button style="color: greenyellow">Go back</button>
        </a>
    </div>
</div>
</body>
</html>